@page "/"
@using NoBullshit.Client;
@using NoBullshit.Shared.Models;
@using NoBullshit.RazorUI.Shared;

<PageTitle>Home | NoBullshit</PageTitle>

<h1 class="mb-2">Games</h1>


@if (games == null)
{
    <p><em>Loading...</em></p>
}   
else
{
    <GameList Games="@games" />
}

@code {
    private Response<List<Game>>? games;
    private NoBullshitClient? client;

    [Parameter]
    [SupplyParameterFromQuery]
    public int Page { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine(Page);
        Page = Page == 0 ? 1 : Page; 
        client = new NoBullshitClient("https://localhost:7101", "NoBullshit.Cli");
        games = await client.GetGamesAsync(Page);
    }
}
